body {
background: #70e1f5 !important;
background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194) !important;
background: linear-gradient(to left, #70e1f5 , #ffd194) !important;
padding-top: 70px;
}

.glyphicon {
  float: right;
}

.author-entry {
  margin-left: 150px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.todo-list {
  padding: 10px;
}

.header-homepage {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.weather-view {
  font-family: 'Quicksand', sans-serif;
}

.navbar-brand {
  font-family: 'Quicksand', sans-serif;
}
