body {
background: #70e1f5 !important;
/*background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194) !important;*/
background: linear-gradient(to left, #70e1f5 , #ffd194) !important;
padding-top: 70px;
}

.wi {
  font-size: 6em;
}

.loading-icon {
  font-size: 0.8em;
}

.condition-icon {
  margin-top: 5px;
}

.spin-me {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-bottom: 7px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.glyphicon {
  float: right;
}

.author-entry {
  margin-left: 150px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.todo-list {
  padding: 10px;
}

.header-homepage {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.weather-view {
  font-family: 'Quicksand', sans-serif;
}

.navbar-brand {
  font-family: 'Quicksand', sans-serif;
}
