<div ng-controller="HomepageController">
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="col-md-4">
      <div class="navbar-header">
        <a class="navbar-brand" href="">To Dew 💧</a>
      </div>
    </div>
    <div class="col-md-4">
      <center>
      <form class="navbar-form" role="search">
        <div class="form-group">
          <input ng-keyup="$event.keyCode == 13 && addToDo()" type="text" style="text-align:center;" class="form-control todo-entry" placeholder="New Note" ng-model='newToDo'>
        </div>
      </form>
    </center>
    </div>
    <div class="col-md-4">
      <form class="navbar-form" role="search">
        <div class="form-group">
      <input ng-keyup="$event.keyCode == 13 && setAuthorAndGetData()" type="text" style="text-align:center;" class="form-control author-entry" placeholder="Your Name" ng-model='authorName'>
    </div>
  </form>
    </div>
  </div>
</nav>
  <div class='weather-view'>
    <center><img src='app/assets/sun.svg'></img><br />
      Good Afternoon
    </center>
  </div>

    <div class="list-group todo-list">
      <a href="" class="list-group-item" ng-class="{strike:todo.done}" ng-click='done()' ng-repeat='todo in todos'>
        {{todo}}
        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
      </a>
    </div>
</div>
